/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 main {
   padding: 30px 0;
 }

 a {
   text-decoration: none;
 }

 header {
  .navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
  }
}
 .lists {
  .dropdown-toggle::after {
    display: none;
  }
 }

 .item {
   min-height: 60px;
   line-height: 60px; 
   .dropdown-item {
    height: 40px;
    line-height: 40px;
   }
 }
 .item:hover {
  background-color: #f0ffff;
  font-weight: 600;
 }

 .highlight {
  background-color: #ffc0cb;
	transition-duration: 0s;
 }


.edit-form {
  button:focus, button:hover  {
    outline:0;
    color: #006400;
 }
}
.edit-form:hover {
  background-color: #ffffff;
  font-weight: 400;
  border-bottom: 1px solid #dee2e6;
 }

 .submit-link {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  line-height: normal;
  color: #28a745;
  padding: 0;
 }

 .new-list-btn, .back-btn {
   font-size: 1.5rem;
 }

 .form, .back-btn {
   display: none;
 }

 .new-words, .user_config {
   width: 65%;
   margin: 0 auto;
 }
 .words {
  width: 80%;
  margin: 0 auto;

  button:focus, button:hover  {
    outline:0;
    color: #006400;
  }
 }

 .word {
   min-height: 45px;
 }

 .edit-word-form {
    line-height: 45px;
 }

 @media screen and (max-width: 425px) {
   header {
     .nav-link {
       margin-top: 5px;
     }
   }
  .word-form {
    width: 50% !important;
  }

  .new-words, .words, .user_config {
    width: 100%;
  }

  .edit-word-form {
    .col-2 {
      padding: 0;
      text-align: center;
    }
    .submit-link {
      margin-right: 5px;
    }
    .back-link {
      display: none
    }
    .destroy-link {
      margin-right: 0;
    }
  }
}